@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="main-container">
    <div class="content">
<div class="content-body">
            <div class="success-text">Demo TEST 28/05/2019 V4.0.</div>
            <div class="description line-1"> DEMO PERIFERIA IT somos DEVOPS</div>
            <div class="description line-2"> Your app is up and running on Azure</div>
</div>
<div> <iframe width="560" height="315" src="https://www.youtube.com/embed/cpweKrgVJCc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
</div>
</div>
<div class="row">
    <div class="col-md-4">
        
        <h2>SPORTS</h2>
        <p>
            basketball,Natación,Volleyball, ping pong,
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=862409">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
        <h2>Musica</h2> 
        <p>Rock And Roll,</p>
        <p>coldplay,</p>
        <p>clasica,</p>
        <p>rock en español,</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=862410">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Destinos que quieres conocer</h2>


        <p>Cartagena</p>

        <p>Egipto</p>

        <p>Brasil</p>

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=862126">Learn more &raquo;</a></p>
    </div>
</div>